Repository Armor-test/location-adapter-615, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-research, @Armor-test/squad-reporting, @Armor-test/squad-payments, @Armor-test/unit-cloud, @Armor-test/team-frontend, @Armor-test/dept-notifications, @Armor-test/team-governance, @Armor-test/team-research, @Armor-test/squad-ux, @Armor-test/grp-search, @Armor-test/dept-security, @Armor-test/unit-test, @Armor-test/dept-reliability, @Armor-test/squad-search, @Armor-test/squad-mobile, @Armor-test/unit-design, @Armor-test/dept-automation, @Armor-test/dept-test, @Armor-test/grp-integration, @Armor-test/squad-product, @Armor-test/squad-cache, @Armor-test/grp-reporting, @Armor-test/dept-billing, @Armor-test/dept-ui, @Armor-test/squad-ml, @Armor-test/squad-api, @Armor-test/dept-api, @Armor-test/dept-reporting, @Armor-test/team-security, @Armor-test/grp-payments, @Armor-test/squad-qa, @Armor-test/team-core, @Armor-test/squad-performance, @Armor-test/grp-api, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/security, @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/squad-reporting, @Armor-test/squad-payments

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/team-governance

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/squad-reporting, @Armor-test/squad-payments

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-payments, @Armor-test/squad-qa

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-research, @Armor-test/squad-reporting, @Armor-test/squad-payments

.github/CODEOWNERS:

# CODEOWNERS file for location-adapter-615
# Global owners - will be requested for all PRs
* @Armor-test/squad-research @Armor-test/squad-reporting @Armor-test/squad-payments

# Directory ownership
/plugins/ @Armor-test/unit-cloud @Armor-test/team-frontend @Armor-test/dept-notifications
/docs/ @Armor-test/squad-research @Armor-test/team-governance
/models/ @Armor-test/team-research @Armor-test/squad-ux @Armor-test/grp-search
/data/ @Armor-test/dept-security @Armor-test/unit-test
/hooks/ @Armor-test/dept-security @Armor-test/dept-reliability
/shared/ @Armor-test/squad-search @Armor-test/squad-mobile @Armor-test/dept-security
/components/ @Armor-test/unit-design @Armor-test/dept-automation @Armor-test/dept-test
/services/ @Armor-test/grp-integration @Armor-test/unit-cloud
/views/ @Armor-test/unit-cloud @Armor-test/squad-product @Armor-test/squad-cache
/middleware/ @Armor-test/grp-reporting @Armor-test/team-research @Armor-test/dept-billing

# File type ownership
*.md @Armor-test/dept-ui @Armor-test/squad-ml
*.h @Armor-test/squad-payments @Armor-test/dept-automation @Armor-test/squad-api
*.scala @Armor-test/grp-integration @Armor-test/dept-api @Armor-test/dept-reporting
*.php @Armor-test/dept-api @Armor-test/dept-notifications
*.ts @Armor-test/squad-ux @Armor-test/team-security
*.py @Armor-test/grp-payments @Armor-test/squad-qa
*.jsx @Armor-test/team-core @Armor-test/grp-reporting @Armor-test/squad-performance
*.java @Armor-test/squad-reporting @Armor-test/team-security @Armor-test/squad-research
*.yaml @Armor-test/squad-payments @Armor-test/squad-product
*.c @Armor-test/team-governance @Armor-test/squad-payments
*.graphql @Armor-test/team-frontend @Armor-test/grp-api

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
